In [1]:
a = isinstance(str, "aa")

print(a)

TypeError: isinstance() arg 2 must be a type or tuple of types

In [2]:
new_list = [1,2,3,4]

In [3]:
new_list[4] = 10

IndexError: list assignment index out of range

In [4]:
new_list.extend(new_list)

In [5]:
new_list.insert(0, 0)

In [6]:
new_list.append(5)

In [7]:
with open('names.txt', 'r') as file:
    lines = file.readlines()
print(lines)

['First line\n', 'Second line\n', 'And another !']

In [8]:
value = 7
class A:
    value = 5

a = A()
a.value = 3
print(value)

7

In [9]:
bravo = 3
b = B()
class B:
    bravo = 5
    print("Inside class B")
c = B()
print(b.bravo)

NameError: name 'B' is not defined

In [10]:
from math import pi
print(math.pi)

NameError: name 'math' is not defined

In [11]:
names = ["Anna", "Natasha", "Mike"]
names.insert(2, "Xi")
print(names)

['Anna', 'Natasha', 'Xi', 'Mike']

In [12]:
for x in range(1, 4):
    print(int((str((float(x))))))

ValueError: invalid literal for int() with base 10: '1.0'

In [13]:
sample_dict = {1: 'Coffee', 2: 'Tea', 3: 'Juice'}
for x in sample_dict:
    print(x)

1
2
3

In [14]:
def recursion(num):
    print(num)
    next = num - 3
    if next > 1:
        recursion(next)

recursion(11)

11
8
5
2

In [15]:
def bigo(numbers):
    for i in numbers:
        print(numbers)

bigo([1, 7, 13, 19])

[1, 7, 13, 19]
[1, 7, 13, 19]
[1, 7, 13, 19]
[1, 7, 13, 19]

In [16]:
str = 'Pomodoro'
for l in str:
if l == 'o':
    str = str.split()
    print(str, end=", ")

IndentationError: expected an indented block (136113787.py, line 3)

In [17]:
def d():
    color = "green"
    def e():
        nonlocal color
        color = "yellow"
    e()
    print("Color: " + color)
    color = "red"
color = "blue"
d()

Color: yellow

In [18]:
num = 9
class Car:
    num = 5
    bathrooms = 2

def cost_evaluation(num):
    num = 10
    return num

class Bike():
    num = 11

cost_evaluation(num)
car = Car()
bike = Bike()
car.num = 7
Car.num = 2
print(num)

9

In [19]:
class A:
   def a(self):
       return "Function inside A"

class B:
   def a(self):
       return "Function inside B"

class C:
   pass

class D(C, A, B):
   pass

d = D()
print(d.a())

Function inside A